---
import VideoYouTube from "./VideoYouTube.astro";
---

<article
  class="grid grid-cols-1 items-center justify-center gap-8 md:grid-cols-2 lg:grid-cols-3"
>
  <h2
    class="col-span-full text-center text-2xl font-bold text-white border-b border-b-white/15 pb-2"
  >
    Gameplays
  </h2>

  <VideoYouTube videoId="AUd9CdyB3xs" />
  <VideoYouTube videoId="7ZtWdkG3lAE" />
  <VideoYouTube videoId="h9AZecZ7XmE" />
  <VideoYouTube videoId="D2HWseboLC8" />
  <VideoYouTube videoId="owP-p2Jmnv4" />
  <VideoYouTube videoId="BddcT5Td7A0" />
  <VideoYouTube videoId="0NgqJ5Ev6yg" />

  <h2
    class="col-span-full text-center text-2xl font-bold text-white border-b border-b-white/15 pb-2"
  >
    IRL
  </h2>

  <VideoYouTube videoId="S-6DhBWLdrI" />

  <VideoYouTube videoId="RlCf8Jw7uho" />

  <h2
    class="col-span-full text-center text-2xl font-bold text-white border-b border-b-white/15 pb-2"
  >
    Informativos
  </h2>

  <VideoYouTube videoId="8TrujtLZxHw" />
  <VideoYouTube videoId="-ZIu9TN8HzA" />
  <VideoYouTube videoId="JrudKV33VxY" />
  <VideoYouTube videoId="46K3YaYM6Xw" />
</article>
